* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
}

@media(max-width: 614px) {
    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .movie-card {
        background-color: #FFFFFF;
        box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        padding: 8px;
    }

    .movie-card-img {
        width: 100%;
        height: 100%;
    }

    .green-circle {
        background-color: #8DD7CF;
        border: 1px solid #1AAE9E;
    }

    .gray-circle {
        background-color: #C3CFD9;
        border: 1px solid #7B8B99;
    }

    .yellow-circle {
        background-color: #FBE192;
        border: 1px solid #F7C52B;
    }
    
    header {
        background-color: #C3CFD9;
        
        font-size: 34px;
        color: #E8833A;
    
        height: 67px;

        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }

    main {
        margin-top: 67px;

        overflow: scroll;
    }

    main h2 {
        font-size: 24px;
        letter-spacing: 4%;
        text-align: center;
        color: #293845;

        height: 110px;
    }

    .movies-list {
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 4%;
    }

    .movies-list div {
        width: 145px;
        height: 209px;

        margin-bottom: 4%;
    }

    .date {
        /* screen: 100vh, header: 67px, title/h2: 110px and footer: 117px */
        height: calc(100vh - 67px - 110px - 117px);

        overflow: scroll;
    }

    footer {
        background-color: #DFE6ED;
        border: 1px solid #9EADBA;

        display: flex;
        align-items: center;
        gap: 14px;

        height: 117px;

        padding: 14px 10px;

        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
    }

    .movie-chosen {
        width: 64px;
        height: 89px;
    }

    .seats-content {
        flex-direction: column;
        justify-content: flex-start;

        /* screen: 100vh, header: 67px, title/h2: 110px and footer: 117px */
        height: calc(100vh - 67px - 110px - 117px);

        overflow: scroll;
    }

    .seats-list {
        width: 327px;
        height: 203px;

        flex-wrap: wrap;
        gap: 7px;

        margin-bottom: 15px;
    }

    .seats-list div {
        background-color: #C3CFD9;
        border: 1px solid #808F9D;
        border-radius: 50%;


        width: 26px;
        height: 26px;
    }

    .seats-list div p {
        color: #000000;
        font-size: 11px;
        letter-spacing: 4%;
    }

    .subtitles {
        gap: 18px;

        margin-bottom: 42px;
    }

    .subtitles span div {
        border-radius: 50%;

        width: 25px;
        height: 25px;
    }

    .user-datas {
        margin-bottom: 50px;
    }

    .user-datas div {
        width: 327px;

        margin-bottom: 8px;
    }

    .user-datas div input {
        border-radius: 3px;
        border: 1px solid #D4D4D4;

        color: #AFAFAF;
        font-size: 18px;
        font-style: italic;

        width: 100%;
        height: 51px;

        padding-left: 15px;
    }

    .seats-content > button {
        background-color: #E8833A;
        border-radius: 3px;
        border: none;

        width: 225px;
        height: 42px;

        color: #FFFFFF;
        font-size: 18px;
        letter-spacing: 4%;
        text-align: center;

        margin-bottom: 50px;
    }
}



